BioInspiredHW/BioInspired.aux
BioInspiredHW/BioInspired.log
BioInspiredHW/BioInspired.synctex.gz(busy)
BioInspiredHW/BioInspired.loa
*.lof
BioInspiredHW/BioInspired.lot
*.out
BioInspiredHW/BioInspired.pdf
BioInspiredHW/BioInspired.toc
*.gz
BioInspiredHW/BioInspired.pdf